#gatinhos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
}

img {
    display: block;
    width: auto;
    height: 250px;
    border-radius: 10px;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    background-color: red;
    margin: 1rem
}